* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-image: url("./Media/background\ image.jpg");
   background-position: top 0em left -25em;
   font-family: 'Roboto', sans-serif;
   -webkit-transition: 1.5s;
   transition: 1.5s;
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/*   font-family: 'Special Elite', cursive;  */

.template {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 22em;
   height: 43em;
   background-color: #EAE9E9;
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   border-radius: 2.3em;
   box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
   overflow: hidden;
   -webkit-transition: 1.5s;
   transition: 1.5s;
}

.calculatorButtonsDiv {
   width: 100%;
   height: 70%;
}

.calculatorScreenDiv {
   width: 100%;
   height: 30%;
}

.container {
   height: 85%;
   width: 93%;
   display: flex;
   flex-direction: column;
   row-gap: 2em;
}

#buttonsList {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   row-gap: 1em;
   column-gap: 1em;
}

/*  ************ Calculator Buttons ****** */
.operators {
   position: relative;
   background-color: #efedee;
   font-size: 1.1em;
   color: #727b7e;
   letter-spacing: 2px;
   width: 3.7em;
   height: 3.5em;
   border-width: 0;
   border-radius: 0.6em;
   box-shadow: rgba(119, 117, 117, 0.14) 0px 9px 9px -2px,
      rgba(105, 104, 104, 0.05) 0px 4px 6px -2px;
   cursor: pointer;
   overflow: hidden;
   -webkit-transition: .4s;
   transition: 0.4s;
}

.operators:nth-child(18) {
   color: #979ea1;
}

.numbers {
   position: relative;
   background-color: #efedee;
   font-size: 1.1em;
   color: #979ea1;
   letter-spacing: 2px;
   width: 3.7em;
   height: 3.5em;
   border-width: 0;
   border-radius: 0.6em;
   box-shadow: rgba(119, 117, 117, 0.14) 0px 9px 9px -2px,
      rgba(105, 104, 104, 0.05) 0px 4px 6px -2px;
   cursor: pointer;
   transition-duration: 0.7s;
   overflow: hidden;
   -webkit-transition: .4s;
   transition: 0.4s;
}

.numbers::after,
.operators::after {
   content: '';
   width: 40px;
   height: 40px;
   display: block;
   background-color: #f08080;
   position: absolute;
   border-radius: 35%;
   opacity: 0;
   transition: all 0.5s;
   padding: 80%;
   margin-top: -100%;
   margin-left: -30%;
}

.numbers:active:after,
.operators:active:after {
   padding: 0;
   opacity: 1;
   transition: 0s;
}

#backspaceImg {
   max-width: 50%;
}

.operators:nth-child(2) {
   background-image: url("./Media/backspace.png");
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: left 50% bottom 50%;
}

.operators:nth-child(4) {
   background-image: url("./Media/division.png");
   background-size: 30%;
   background-repeat: no-repeat;
   background-position: left 50% bottom 50%;
}

.operators:nth-child(8) {
   background-image: url("./Media/multiply.png");
   background-size: 18%;
   background-repeat: no-repeat;
   background-position: left 50% bottom 50%;
}

.operators:nth-child(19) {
   flex-grow: 0.8;
   background-color: #ed802e;
   color: white;
}

.numbers:nth-child(18) {
   font-weight: 700;
}

.totalAnswerDiv {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-top: 0.7em;
   font-family: 'Poppins', sans-serif;
   font-size: 4em;
   color: #25333e;
   width: 100%;
   height: 60%;
   padding-right: 5px;
   padding-left: 5px;
   overflow: hidden;
}

.calculationDiv {
   display: flex;
   justify-content: flex-end;
   position: relative;
   margin-right: 0.6em;
   font-family: 'Poppins', sans-serif;
   color: #a4a5a7;
   font-size: 1.5em;
   height: 25px;
   width: 100%;
   padding-right: 10px;
}

#total {
   transition-duration: 0.2s;
   -webkit-transition: .4s;
   transition: 0.4s;
}

.operatorsSpan {
   font-family: 'Special Elite', cursive;
}

.switch {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 35px;
   background-color: #4cc9f0;
   border-radius: 32px;
   -webkit-transition: .4s;
   transition: 0.4s;
}

.switchContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
}

.sliderBall {
   width: 27px;
   height: 27px;
   border-radius: 100%;
   background-color: white;
   position: absolute;
   transform: translateX(-18px);
   -webkit-transition: .4s;
   transition: 0.4s;
}

.dayModeImg {
   max-width: 50%;
   margin-right: 6em;
}

.nightModeImg {
   max-width: 60%;
}

.darkModeSwitch {
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0;
   cursor: pointer;
}

@media screen and (max-width: 380px) {
   .template {
      width: 19em;
      height: 36em;
   }

   .numbers {
      width: 3.2em;
      height: 3em;
   }

   .operators {
      width: 3.2em;
      height: 3em;
   }

   .totalAnswerDiv {
      font-size: 3.4em;
   }

   .calculatorScreenDiv {
      margin-top: -1.5em;
   }
}

@media screen and (max-height: 810px) {
   .switchContainer {
      margin-top: 1%;
   }
}

@media screen and (max-height: 770px) {
   .template {
      height: 40em;
   }

   .calculatorScreenDiv {
      margin-top: -2em;
   }
}

@media screen and (max-height: 685px) {
   .template {
      height: 36.5em;
   }

   .switchContainer {
      margin-top: 1%;
   }

   .switch {
      width: 62px;
      height: 30px;
   }

   .sliderBall {
      width: 23px;
      height: 23px;
   }
}

@media screen and (max-height: 655px) {
   .template {
      height: 34em;
   }

   .calculatorScreenDiv {
      margin-top: -2em;
   }
}
